/*#root{
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem );
    justify-content: center;
    align-items:end;
    gap: 1rem;
    position: relative;
}*/

html, body{
    overflow-x: hidden;
}
/*amiibos*/
.amiibo-card{
    display: flex;
    justify-content: center;
    width: 14rem ;

}
.amiibo-card .card{
    width: 14rem ;
    height: 200px;
    height: max-content;
    transition: 500ms;
    text-decoration: none !important;

}
/*
.amiibo-card .material-symbols-outlined{
    cursor: pointer;
    background: black;
    border-radius: 50%;
    padding: 0.25rem;
    user-select: none;
}*/
.amiibo-card img{
    object-fit:scale-down ;
    object-position: 50% 50%;

    height: 200px;
    transition: 500ms;


}

.amiibo-card:hover img{
    transform: translateY(-1.5rem) scale(1.05);
    height: 180px;
    object-fit:cover;
    object-position: 50% 10%;


 }

 .col .card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 12rem;
    text-decoration: none !important;

}
.modalimg{
    width: 20rem;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.no-info{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10
}

/*features*/
.features-bg{
    background-image: url(amiibo-lineup-img.avif);
    background-position: 50% 50%;
}

/*details*/



#details .card{
    width: 95vw;
    height: 100%;
}
#details .card img{
    height: auto;
    width: 900px;
}

#details  .card .card-title{
    white-space: nowrap;
    overflow: visible;
}

.min-width{
width: min-content;
}

.w-fitcontent{
    width: fit-content !important;
    min-width: fit-content !important;
    max-width: fit-content !important;
    cursor: pointer;
    user-select: none;
}